<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="KlondikeWebsiteName" value="Feeds" />
    <add key="RetentionPoliciesPath" value="" />
    <add key="MongoDB_ConnectionString" value="mongodb://localhost" />
    <add key="MongoDB_DatabaseName" value="NuFridge" />
    <add key="enableSimpleMembership" value="false" />
    <add key="Email_SMTPServer" value="127.0.0.1" />
    <add key="Email_FromAddress" value="example@domain.com" />
    <add key="Email_FromAddressDisplayName" value="NuFridge" />
    <add key="CCNet_HostName" value="" />
      <add key="TFS_Username" value="" />
      <add key="TFS_Password" value="" />
    <add key="Octopus_APIKey" value="" />
    <add key="Octopus_APIURl" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MongoDB_ConnectionStringDatabase" connectionString="mongodb://localhost/NuFridge" />
  </connectionStrings>
  <location path="." inheritInChildApplications="false">
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" />
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <membership defaultProvider="MongoMembershipProvider">
      <providers>
        <clear />
        <add name="MongoMembershipProvider" type="ExtendedMongoMembership.MongoMembershipProvider, ExtendedMongoMembership" connectionStringName="MongoDB_ConnectionStringDatabase" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MongoRoleProvider">
      <providers>
        <clear />
        <add name="MongoRoleProvider" type="ExtendedMongoMembership.MongoRoleProvider, ExtendedMongoMembership" connectionStringName="MongoDB_ConnectionStringDatabase" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
    <system.web.extensions>
      <scripting>
        <webServices>
          <authenticationService enabled="true" />
          <jsonSerialization maxJsonLength="2147483644" />
        </webServices>
      </scripting>
    </system.web.extensions>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
</system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="FeedManagerWebsite.FeedServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="FeedManagerWebsite.FeedServiceAspNetAjaxBehavior" maxReceivedMessageSize="10000000">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="FeedManagerWebsite.FeedService">
        <endpoint address="" behaviorConfiguration="FeedManagerWebsite.FeedServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="FeedManagerWebsite.FeedService" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.221" newVersion="1.9.1.221" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.221" newVersion="1.9.1.221" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.3.400" newVersion="2.2.3.400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="RemoteClient" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <add key="quartz.scheduler.proxy" value="true" />
    <add key="quartz.scheduler.proxy.address" value="tcp://localhost:5656/QuartzScheduler" />
  </quartz>
</configuration>
