<section>
    <div class="modal-content">
                <i title="Connecting..." data-bind="visible: LoadingData" class="pull-right icon-spinner icon-2x icon-spin"></i>
        <div class="modal-header feed-heading">
    
            <h3 class="feed-heading-title"><span data-bind="text: EditFeedTitle"></span> </h3>
            <span class="pull-right">
                <ul id="viewFeedTabs" class="nav nav-tabs panel-tabs" data-tabs="tabs">
                    <li data-bind="visible: IsEditMode(), css: IsEditMode() ? 'active' : ''"><a href="#tabOverview" data-toggle="tab">Overview</a></li>
                    <li data-bind="visible: IsEditMode()"><a href="#tabPackages" data-toggle="tab">Packages</a></li>
                    <li data-bind="css: IsEditMode() ? '' : 'active'"><a href="#tabSettings" data-toggle="tab">Settings</a></li>
                </ul>
            </span>
        </div>
        <div class="tab-content">
            <div id="tabOverview" class="modal-body tab-pane" data-bind="css: IsEditMode() ? 'active in' : ''">
                <h4><a data-bind="text: Feed().FeedURL, href: Feed().FeedURL" target="_blank"></a></h4>
                <p>Packages: <span data-bind="text: PackageCount"></span></p>
            </div>
            <div id="tabPackages" class="modal-body tab-pane">
                <h4 data-bind="visible: PackagesLoading">Loading packages...</h4>
                <h4 data-bind="visible: ErrorLoadingPackages">An error occurred loading the packages in the feed.</h4>
                <h4 data-bind="visible: NoPackagesFound">No packages were found in the feed.</h4>
                <div class="well" data-bind="visible: Feed().Packages().length > 0">
                    <div class="list-group" data-bind="foreach: Feed().Packages ">
                        <div class="clearfix list-group-item package-grid-item">
                            <div class="media col-md-1">
                                <figure class="pull-left">
                                    <img class="media-object img-rounded img-responsive" data-bind="src: iconUrl">
                                </figure>
                            </div>
                            <div class="col-md-8">
                                <h4 class="list-group-item-heading">
                                    <a data-bind="text: title, href: ViewUrl" />
                                    <span>by<span data-bind=" foreach: authors">
                                        <span data-bind="text: $data"></span></span>
                                    </span>
                                </h4>
                                <p class="list-group-item-text" data-bind="text: description">
                                </p>
                            </div>
                            <div class="col-md-3 text-center">
                                <h2><span data-bind="text: downloadCount"></span><small>downloads</small></h2>
                                <a class="btn btn-primary btn-sm btn-block" data-bind="href: ViewUrl">View </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabSettings" class="modal-body tab-pane" data-bind="css: IsEditMode() ? '' : 'active in'">
                <form role="form">
                    <div class="form-group">
                        <p>Name:</p>
                        <input type="text" class="form-control" id="feedNameInput" data-bind="value: Feed().Name, valueUpdate: 'afterkeydown'">
                        <p>API Key:</p>
                        <input type="text" class="form-control" id="feedAPIKeyInput" data-bind="value: Feed().APIKey, valueUpdate: 'afterkeydown'">
                    </div>
                    <button type="submit" class="btn btn-danger" data-bind="click: Cancel">Cancel</button>

                    <button type="submit" class="btn btn-primary" data-bind="click: SaveChanges, enable: Feed().Name() != null && Feed().Name().length > 0 && IsFormDirty()">Save</button>
                    <button type="submit" class="btn btn-danger float-right" data-bind="click: Delete, visible: ShowDeleteButton">Delete</button>
                </form>
            </div>
        </div>
    </div>
</section>
