<section>
   <p> NuFridge is a web application for managing your NuGet feeds.</p>

<p>You can use NuFridge to quickly create new NuGet Feeds, or Delete old feeds.</p>

<p>NuFridge also has additional functionality such as Retention Policies - so you can easily create policies to control the packages that you retain on your feeds.</p>

<p>NuFridge is useful for anyone that wants to easily be able to get started with creating and managing NuGet feeds.</p>

<p>The NuGet feeds that are created are Klondike based feeds: <a href="https://github.com/themotleyfool/Klondike" target="_blank">https://github.com/themotleyfool/Klondike</a> which means they use Lucene indexing for lightning fast performance - better than using the NuGet standard implementation alone.</p>
</section>