<div>
    <nav class="navbar navbar-default" role="navigation" data-bind="visible: ShowNavigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            @*<img id="nufridgeLogo" src="~/Content/images/logo.png" />*@
            <span class="navbar-brand">NuFridge</span>
            <ul class="nav navbar-nav navbar-center" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }"><span data-bind="    css: glyph"></span><span data-bind="    html: title"></span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-th-large"></span><span data-bind="text: 'Skin - ' + bootstrapSkinSelected()"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu" data-bind="foreach: bootstrapSkins, enabled: allowSkinChange">
                        <li data-bind="css: $data != $root.bootstrapSkinSelected() ? '' : 'disabled'"><a data-bind="    click: $root.ChangeShellSkin.bind($root)"><span class="glyphicon glyphicon-import"></span><span data-bind="    text: $data"></span></a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-user"></span>Administrator<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#settings"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#logout"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <h2 id="pageTitle" data-bind="text: PageTitle(), visible: ShowPageTitle()">Test</h2>
    <div class="container">
        <div class="container-fluid page-host" data-bind="router: { transition: 'entrance', cacheViews: true }" ></div>
    </div>
</div>
