<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" data-bind="attr: { href: '' }">
                <i class="icon-home"></i>
                <span>NuFridge</span>
            </a>
            <ul class="nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <img src="~/Content/images/spin.GIF" width="25" height="25" />
            </div>
            <form class="nav pull-right">
                      <p style="padding:10px 15px 10px;">Welcome, <a href="#">Anonymous</a></p>
            </form>
        </div>
    </div>
    <br />
    <div class="container-fluid page-host" data-bind="router: { transition:'entrance', cacheViews:true }"></div>
</div>