<section>
    <div class="row">
        <ul class="ds-btn" data-bind="foreach: Feeds()">
            <li>
                <a class="btn btn-lg btn-primary" data-bind="attr: { href: EditUrl, title: Name }">
                    <i class="glyphicon glyphicon-briefcase pull-left"></i><span><span data-bind="text: Name"></span></span></a>

            </li>
        </ul>
</section>
