<section class="viewFeedsSection">
    <div class="row">
        <p>This page allows you to manage the feeds available on NuFridge.</p>
        <div data-bind="visible: ShowNoFeedsFound">
            <p>No feeds were found, click the 'Add Feed' button to get started.</p>
        </div>
        <button type="submit" class="btn btn-info addFeedButton" data-bind="click: AddFeed, visible: !ShowError()">Add Feed</button>
    </div>
    <div class="row">
        <div data-bind="visible: Feeds() != null && Feeds().length > 0">
            <ul class="ds-btn" data-bind="foreach: Feeds()">
                <li>
                    <a class="btn btn-lg btn-primary" data-bind="attr: { href: EditUrl, title: Name }">
                        <i class="glyphicon glyphicon-briefcase pull-left"></i><span><span data-bind="text: Name"></span></span></a>
                </li>
            </ul>
        </div>
        <div data-bind="visible: ShowError">
            <br />
            <p class="bg-danger">There was an error loading the feeds.</p>
        </div>
    </div>
</section>
