 
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}



table tr.selected {
    background-color: rgb(221, 221, 221);
    font-weight: bold;
}

footer {
     text-align: center;
}

.nav-header li {
    padding: 5px;
}

.nopaddingleft {
    padding-left: 0 !important;
}

.nopaddingright {
    padding-right: 0 !important;
}

tbody .ellipsis, span.ellipsis, p.ellipsis, body .bootstrap-dialog .bootstrap-dialog-title {
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;display: block;
}

.feedTable, .feedTable tbody, .feedTable tbody tr { display: block;}
.feedTable thead, .feedTable thead tr, .row .feedTable thead tr th { border: none;}

.feedTable tbody tr {
    cursor: pointer;
}

.feedTable tbody tr.selected, .feedTable tbody tr td.dataTables_empty {
    cursor:default;
}


.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
color: #333;
background-color: #fff;
border-color: #ccc;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #428bca;
	border: 1px solid #357ebd;
    color: white !important;
}

.tab-pane.active { padding-top: 10px;}




#top-stuff {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
}

#top-bar-out {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    background: -moz-linear-gradient(center top, #333333, #111111);
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
    background: -o-linear-gradient(top, #333333, #111111);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#111111');
    box-shadow: 0 1px 2px #666666;
    -webkit-box-shadow: 0 1px 2px #666666;
}

.active-links {
    position: absolute;
    right: 8px;
    top: 0;
}

#container {
    width: 780px;
    margin: 0 auto;
    position: relative;
}

#topnav {
    text-align: right;
}

.loginStatus.active, .loginStatus:hover {
    background: rgba(255,255,255,0.1);
    color: fff;
}

a#signin-link {
    color: #bababa;
    position: relative;
}

a#signin-link em {
    font-size: 10px;
    font-style: normal;
    margin-right: 4px;
}

a#signin-link strong {
    color: #fff;
}

#signin-dropdown {
    background-color: #202020;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 2px #666666;
    -webkit-box-shadow: 0 1px 2px #666666;
    min-height: 200px;
    min-width: 160px;
    position: absolute;
    right: 0;
    display: none;
}

#signin-dropdown div {
    cursor: pointer;
    padding: 10px;
    text-align: left;
}

#signin-dropdown .textbox span {
    color: #BABABA;
}

#signin-dropdown .textbox input {
    width: 200px;
}

fieldset {
    border: none;
}

div.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

div.signin .textbox span {
    display: block;
}

div.signin p, div.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

div.signin .textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
}

div.signin .remb {
    padding: 9px 0;
    position: relative;
    text-align: right;
}

div.signin .remb .remember {
    text-align: left;
    position: absolute;
    left: 0;
}
